.toggle-menu-wrapper {
  cursor: pointer;

  ul {
    display: none;
    position: absolute;
    top: 50px;
    background-color: white;
    border: 1px solid #1f2746;
    width: 250px;

    li {
      width: 100%;
      line-height: 25px;
      padding: 10px 20px;

      a {
        color: #1f2746;
      }
    }

    li:hover {
      color: #c62a82 !important;
    }
  }
}

.toggle-menu-wrapper:hover ul {
  display: block !important;
}