 //To Override react-widgets input styles
 input {
   border-bottom: 0px !important;
   margin: 0px !important;
   padding: 0px!important;
   height: 2.3rem !important;
 }

 .text-field {
    :focus {
     border: 1px solid #66afe9 !important;
     box-shadow: 0 0 8px rgba(102, 175, 233, 0.6) !important;
   }

   input {
     border: #ccc 1px solid !important;
     border-radius: 4px !important;
   }
 }